@page "/DetalleClientes"
@page "/DetalleClientes/{ClienteId:int}"
@inject ClientesSERVICES clientesservices

<div class="card">
    <div class="card-header">
        <h3>Detalles de Clientes</h3>
        <a href="/RegistroClientes" class="btn btn-outline-primary">Crear</a>
    </div>
  
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>T&eacutelefono</th>
                    <th>Celular</th>
                    <th>RNC</th>
                    <th>Email</th>
                    <th>Direcci&oacuten</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in ListaClientes)
                {
                    <tr>
                        <td><a href="/RegistroClientes/@cliente.ClienteId">@cliente.ClienteId</a></td>
                        <td>@cliente.Nombres</td>
                        <td>@cliente.Telefono</td>
                        <td>@cliente.Celular</td>
                        <td>@cliente.RNC</td>
                        <td>@cliente.Email</td>
                        <td>@cliente.Direccion</td>
                        <td><a href="/EditarCliente/@cliente.ClienteId" class="bi bi-pencil-square"></a></td>
                        <td><a href="/EliminarCliente/@cliente.ClienteId" class="bi bi-trash"></a></td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public int ClienteId { get; set; }
    public Clientes clientes { get; set; } = new Clientes();
    public List<Clientes> ListaClientes { get; set; } = new List<Clientes>();
    public int filtrar { get; set; }

    protected override void OnInitialized()
    {
        ListaClientes = clientesservices.Listar(t => true);
    }
    public void Buscar()
    {
        if (filtrar > 0)
        {
            ListaClientes = clientesservices.Listar(t => t.ClienteId == filtrar);
        }
        else
        {
            ListaClientes = clientesservices.Listar(t => true);
        }
    }
    public void Recargar()
    {
        ListaClientes = clientesservices.Listar(t => true);
    }
}